@use "../tokens" as *;

/* personaSection.scss */

.persona-section-root {
  min-height: var(--section-min-height, 100vh);
  padding-top: calc($gnb-height + 2rem);
  padding-bottom: 4rem;
  background-color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);

  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}

.persona-section-inner {
    width: 100%;
  max-width: $page-max-width;
  margin: 0 auto;
  padding: 0 $page-padding-x;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;

 // --persona-offset: calc(-1 * $page-padding-x - 4rem);
}

/* ───────────────────────────────────────────── */
/* 상단 텍스트 블록 */
/* ───────────────────────────────────────────── */

.persona-left-block {
    width: 100%;
    text-align: left;      /* ← 여기서 전체를 왼쪽 정렬 */
    margin-top: 6rem;
    align-self: flex-start; /* 부모가 align-items: center 여서 필요 */
    margin-left: calc(-1 * $page-padding-x - 4rem); /* 원하는 만큼 추가 조절 */
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.persona-title {
  color: #fff;
  font-family: $font-family-display;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

// 교수 학생 페르소나

.persona_avatars {
    
}

.persona-end {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: 4rem;
  }
  
  .persona-sub {
    font-family: $font-family-display;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.03em;
    font-size: 2.4rem;
    text-align: center;
    color: #ffffff;

    padding-top: 2rem;

    z-index: 6;
  }

  .persona-span {
    font-weight: 700;
  }

  .key-top-block {
    width: 100%;
    margin-top: 20rem;
  //   margin-left: calc(-1 * $page-padding-x - 4rem);
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .key-title {
    color: #fff;
    font-family: $font-family-display;
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }

  .key-sub {
    font-family: $font-family-display;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.03em;
    font-size: 2.4rem;
    text-align: center;
    color: #ffffff;

    padding-top: 2rem;

    z-index: 6;
  }

  .key-span {
    font-weight: 700;
    background-color: $color-primary-main;
  }